<style>
    /*This will guarantee we only show this on mobile only*/
    @media only screen and (max-width: 600px) {
        .navbar-mobile-item-hide {
            display: none;
        }
    }

    @media (min-width: 769px) {
        .right-align-desktop {
            text-align: right;
        }
    }
</style>
            <div class="container">

                <div class="navbar-brand">
                    <a class="navbar-item navbar-home Link" href="Inicio.html">
                        <img src="../static/images/utadtube.png" alt="UtadTube logo"/>
                    </a> 
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item">
                          <form id="buscarVideo">
                            <div class="field is-grouped">
                             
                              <div class="control has-icons-right">
                                <input type="text" class="input" style="width: 20rem;" id="busqueda" name="busqueda" placeholder="Busca el video por nombre, usuario(@) o tag(#) separados por espacios">
                                <span class="icon is-right">
                                <i class="fa fa-search"></i>
                              </span>
                              </div>
                              <div class="control">
                                <input type="submit" class="button is-info" value="Buscar">
                              </div>

                            </div>
                          </form>
                        </div>
                        <div class="navbar-item">
                            <a class="navbar-item navbar-averias has-text-weight-semibold Link" href="../comoFunciona.html">¿Cómo funciona?</a>
                        </div>
                        <div class="navbar-item">
                            <a class="navbar-item navbar-averias has-text-weight-semibold Link" href="../faq.html">FAQS</a>
                        </div>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item" id="entrar">
                            <button class="button is-primary is-rounded has-text-weight-semibold" onclick="$('#modalLogin').addClass('is-active')">
                                ENTRAR
                            </button>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable"  id="desplegable">

                            <a class="navbar-link Link" href="profile.html">
                                <span class="fa fa-user"></span>
                                &nbsp
                                <span id="usernameDesplegable">username</span>
                            </a>

                            <div class="navbar-dropdown is-right" >
                                <a class="navbar-item Link" href="profile.html">
                                    Mi Perfil
                                </a>
                                <a class="navbar-item" onclick="$('#modalChangePassword').addClass('is-active')">
                                    Cambiar Contraseña
                                </a>
                                <a class="navbar-item" href="">
                                    Acerca de
                                </a>
                                <a class="navbar-item" href="">
                                    Contacto
                                </a>
                                <hr class="navbar-divider">
                                <div class="navbar-item">
                                    <a class="button" href="Inicio.html"> Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {

                    const urlParams = new URLSearchParams(window.location.search);

                    const idUsuario = urlParams.get('loggedUserId');
                    document.getElementById("idUsuario").value = idUsuario;
                    //alert("navbar-"+idUsuario);

                    const nombreUsuario = urlParams.get('loggedUsername');
                    document.getElementById("nombreUsuario").value = nombreUsuario;
                    //alert("navbar-"+nombreUsuario);

                    if(idUsuario==null && nombreUsuario==null  || idUsuario=="" && nombreUsuario==""){
                        document.getElementById('entrar').style = "display:block;";
                        document.getElementById('desplegable').style = "display:none;";
                    }
                    else{
                        document.getElementById('entrar').style = "display:none;";
                        document.getElementById('desplegable').style = "display:block;";
                        document.getElementById('usernameDesplegable').innerText = nombreUsuario;
                        var links = document.getElementsByClassName('Link');
                        for(var i=0;i<links.length;++i){
                            links[i].href += "?idUsuario=" + idUsuario + "&loggedUserId=" + document.getElementById('idUsuario').value + "&loggedUsername=" + document.getElementById('nombreUsuario').value;
                        } 
                        var linksLarge = document.getElementsByClassName('Link-large');
                        for(var i=0;i<linksLarge.length;++i){
                            linksLarge[i].href += "&loggedUserId=" + document.getElementById('idUsuario').value + "&loggedUsername=" + document.getElementById('nombreUsuario').value;
                        }                   
                    }

                    $("#buscarVideo").submit(function () {
                        var busqueda = document.getElementById("busqueda").value;

                        var loggedUsername = document.getElementById('nombreUsuario').value;
                        var loggedUserId = document.getElementById('idUsuario').value;

                        window.location.replace("Inicio.html?loggedUsername=" + nombreUsuario + "&loggedUserId=" + idUsuario + "&busqueda=" + busqueda);
                    });
                });
            </script>