<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<div id="head"></div>-->
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script defer src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="icon" href="../static/images/utadtube.png">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>UtadTube Inicio</title>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
        </nav>

        <input type="hidden" id="idUsuario"><!--idUsuario-->
        <input type="hidden" id="nombreUsuario"><!--nombreUsuario-->
        
        <div class="section is-clearfix">

                <div class="columns is-multiline" id="listaVideos">

                    <!--<div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd"  style="height:fit-content;">
                       <a onclick="verVideo()" style="color:black;">
                        <div class="column is-narrow has-text-centered">
                                <img class="image img-responsive" src="https://i.ytimg.com/vi/JsnzZF0_13I/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLALVlJo2arXiT9leYpAp7v3dIB4HA">

                                <div class="bottom">
                                    <h1 style="height:50px;overflow:hidden;" class="is-subtitle is-6"><b>Nombre Video muy largo como para que quepa en dos lineas a ver que pasa</b></h1>
                                    <h2 class="is-subtitle is-6">username</h2>
                                    <p>fecha subida</p>
                                </div>
                        </div>
                       </a>
                    </div>-->
    
                </div>
        </div>

        <div class="modalLogin"></div>
        <div class="modalRegister"></div>
        <div class="modalForgotPassword"></div>
        <div class="modalChangePassword"></div>

        <script>
            $(document).ready(function () {
              //$('.head').load('fragments/header.html');
              $('.navbar').load('fragments/navbar.html');
              $('.modalLogin').load('fragments/modals/loginModal.html');
              $('.modalRegister').load('fragments/modals/registerModal.html');
              $('.modalForgotPassword').load('fragments/modals/forgotPasswordModal.html');
              $('.modalChangePassword').load('fragments/modals/changePasswordModal.html');

              function anadirVideos(json){
                var listaVideos = document.getElementById('listaVideos');
                        console.log(typeof json)
                        console.log(typeof json.videos)
                        if(json.videos.length==0){
                            let emptyList = document.createElement('p');
                            emptyList.classList.add('is-subtitle', 'is-2');
                            emptyList.style="color:red;";
                            emptyList.innerText ="Actualmente no hay ningún video";
                            listaVideos.classList.add('has-text-centered');
                            listaVideos.appendChild(emptyList);
                        }
                        else{
                            for(var i=0;i<json.videos.length;++i){
                                let box = document.createElement('div');
                                box.classList.add('column', 'is-full-mobile', 'is-half-tablet', 'is-one-third-desktop', 'is-one-quarter-widescreen', 'is-one-fifth-fullhd');
                                
                                let linkBox = document.createElement('a');
                                linkBox.style = "color:black;";
                                linkBox.setAttribute('onclick', "verVideo(" + json.videos[i].id + "," + json.videos[i].usuarioId + ",'" + json.videos[i].nombreUsuario + "')");

                                let boxColumn = document.createElement('div');
                                boxColumn.classList.add('column', 'is-narrow', 'has-text-centered'); 
                                
                                let imageContainer = document.createElement('div');
                                imageContainer.classList.add('has-text-centered');
                                imageContainer.style="height: 24vh;overflow:hidden;display:flex;align-items:center;";
                                
                                let image = document.createElement('img');
                                image.classList.add('image', 'img-responsive');
                                image.style="display:block;margin:auto;margin-top: auto;";
                                if(json.videos[i].imagen==null){
                                    image.src = "../static/images/videoImageDeafult.png";
                                }else{
                                    image.src = json.videos[i].imagen;
                                }
                                image.alt = "Video preview image";
                                
                                let bottom = document.createElement('div');
                                bottom.classList.add('bottom');

                                let videoName = document.createElement('h1');
                                videoName.classList.add('is-subtitle', 'is-6');
                                videoName.style = "height:50px;overflow:hidden;";

                                let videoNameBold = document.createElement('b');
                                videoNameBold.innerText = json.videos[i].nombre;

                                let videoUsername = document.createElement('h2');
                                videoUsername.classList.add('is-subtitle', 'is-6');
                                videoUsername.innerText = json.videos[i].nombreUsuario;

                                let videoDate = document.createElement('p');
                                videoDate.innerText = json.videos[i].fechaSubida;

                                videoName.appendChild(videoNameBold);
                                bottom.appendChild(videoName);
                                bottom.appendChild(videoUsername);
                                bottom.appendChild(videoDate);

                                imageContainer.appendChild(image);
                                boxColumn.appendChild(imageContainer);
                                boxColumn.appendChild(bottom);

                                linkBox.appendChild(boxColumn);
                                box.appendChild(linkBox);
                                listaVideos.appendChild(box);
                            }
                        } 
              }

              const urlParams = new URLSearchParams(window.location.search);

              var busqueda = urlParams.get('busqueda');

              if(busqueda!=null){

                var myArraySearch = busqueda.split(" ");
                var busqueda = "";
                var tags = "";
                var usuarios = "";
                for(var i=0;i<myArraySearch.length;++i){
                    switch(myArraySearch[i][0]){
                        case '#':
                            tags += myArraySearch[i] + " ";
                            break;
                        case '@':
                            usuarios += myArraySearch[i] + " ";
                            break;
                        default:
                            busqueda += myArraySearch[i] + " ";
                            break;
                    }
                }

                var vres = "";
                var json;
                        var asd = $.get(
                            //"http://18.133.181.212/calculadora.php",
                            "https://www.macascript.com/index.php",

                            { op: "buscarVideos", busqueda: busqueda, tags: tags, usuarios: usuarios},
                            function (data) {
                            function jsonEscape(str) {
                                return str
                                .replace(/\n/g, "\\\\n")
                                .replace(/\r/g, "\\\\r")
                                .replace(/\t/g, "\\\\t");
                            }

                            //descomentar esta línea si se usa PHP :
                            json=JSON.parse(data);
                            //descomentar esta línea si se usa lambda-apigateway : var json=data;
                            json=JSON.parse(json);
                            alert("page content: " + JSON.stringify(json));
                            //document.getElementById("res").innerHTML =
                              //  "Resultado recibido:" + json.res;
                            //window.location.replace(json.redirect);
                            }
                        )
                            .done(function () {
                                anadirVideos(json);
                            })
                            .fail(function () {
                                swal('','Error buscando videos', 'error');
                            });

                        asd.always(function () {
                            //alert("second finished");
                        });   
              }
              else{
                var vres = "";
                var json;
                var asd = $.get(
                    //"http://18.133.181.212/calculadora.php",
                    "https://www.macascript.com/index.php",

                    {op: "inicio"},
                    function (data) {
                    function jsonEscape(str) {
                        console.log(str)
                        return str
                        .replace(/\n/g, "\\\\n")
                        .replace(/\r/g, "\\\\r")
                        .replace(/\t/g, "\\\\t");
                    }

                    //descomentar esta línea si se usa PHP :
                    json=JSON.parse(data);
                    //descomentar esta línea si se usa lambda-apigateway : var json=data;
                    //json = data;
                    json = JSON.parse(json);
                    alert("page content: " + data);
                    //document.getElementById("res").innerHTML =
                        //"Resultado recibido:" + json.res;
                    //window.location.replace(json.redirect);
                    }
                )
                    .done(function () {
                        //añadir videos
                        anadirVideos(json);
                    })
                    .fail(function () {
                        swal('','Error cargando videos', 'error');
                    });

                asd.always(function () {
                    //alert("second finished");
                });
              }
            });

            function verVideo(idVideo,idUsuario,nombreUsuarioVideo){

                var loggedUsername = document.getElementById('nombreUsuario').value;
                var loggedUserId = document.getElementById('idUsuario').value;

                window.location.replace("video.html?idVideo=" + idVideo + "&idUsuario=" + idUsuario + "&nombreUsuarioVideo=" + nombreUsuarioVideo + "&loggedUsername=" + loggedUsername + "&loggedUserId=" + loggedUserId);
            }
        </script>
    </body>
</html>