<!DOCTYPE html>
<html lang="en">
    <head>
        <div class="head"></div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <title>UtadTube Inicio</title>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
        </nav>
        
        <section id="listaVideos"></section>

        <div class="modalLogin"></div>
        <div class="modalRegister"></div>
        <div class="modalForgotPassword"></div>
        <div class="modalChangePassword"></div>

        <script>
            $(document).ready(function () {
              $('.head').load('fragments/header.html');
              $('.navbar').load('fragments/navbar.html');
              $('.modalLogin').load('fragments/modals/loginModal.html');
              $('.modalRegister').load('fragments/modals/registerModal.html');
              $('.modalForgotPassword').load('fragments/modals/forgotPasswordModal.html');
              $('.modalChangePassword').load('fragments/modals/changePasswordModal.html');
            });
        </script>
    </body>
</html>