<!DOCTYPE html>
<html lang="en">
    <head>
        <div class="head"></div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <title>UtadTube Inicio</title>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
        </nav>
        
        <section id="listaVideos"></section>

        <aside>Perfil</aside>

        <div class="modalChangePassword"></div>

        <script>
            $(document).ready(function () {
              $('.modalChangePassword').load('fragments/modals/changePasswordModal.html');
            });
        </script>
    </body>
</html>