<!DOCTYPE html>
<html lang="en">
    <head>
        <div class="head"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>UtadTube Inicio</title>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
        </nav>

        <input type="hidden" id="idUsuario"><!--idUsuario-->
        <input type="hidden" id="nombreUsuario"><!--nombreUsuario-->

        <div class="columns">
            <div class="section column is-four-fifths">
                <video controls class="video" id="videoPlay" width="100%" src="https://www.youtube.com/681324c4-4a97-4fac-a097-d6a427bde958">
                </video>
                <h1 class="title" id="tituloVideo">Titulo de video
                </h1>
                <div style="display:flex;justify-content: space-between;">
                    <p id="fechaSubida">Fecha de subida</p>
                    <p id="fechaModificacion">fecha Modificacion</p>
                    <p>Votos</p>
                </div>
                <hr>
                <a href="" id="usuarioVideoLink" class="Link-large"><h2 class="subtitle" id="usuarioVideo">Nombre de usuario</h2></a>
                <br>
                <p id="descripcionVideo">Descripción Video</p>
                <hr>
                <div id="comentariosVideo">
                    <!--<p>Numero de Comentarios</p>
                    <br>
                    <div id="comentario">
                        <a><p><b>usuario que publico</b></p>
                        <p>este es un comentario sobre el video</p>
                    </div>
                    <br>
                    <div id="comentario">
                        <p><b>usuario que publico</b></p>
                        <p>este es un comentario sobre el video</p>
                    </div>
                    <br>
                    <div id="comentario">
                        <p><b>usuario que publico</b></p>
                        <p>este es un comentario sobre el video</p>
                    </div>-->
                </div>
            </div>
            <div class="section column is-one-fifths">
                <p>Videos relacionados</p>
            </div>
        </div>

        <div class="modalLogin"></div>
        <div class="modalRegister"></div>
        <div class="modalForgotPassword"></div>
        <div class="modalChangePassword"></div>
        
        <script>
            $(document).ready(function () {
              $('.head').load('fragments/header.html');
              
              $('.modalLogin').load('fragments/modals/loginModal.html');
              $('.modalRegister').load('fragments/modals/registerModal.html');
              $('.modalForgotPassword').load('fragments/modals/forgotPasswordModal.html');
              $('.modalChangePassword').load('fragments/modals/changePasswordModal.html');

              const urlParams = new URLSearchParams(window.location.search);
              const idVideo = urlParams.get('idVideo');

              var vres = "";
                var asd = $.get(
                    //"http://18.133.181.212/calculadora.php",
                    "https://6ceb939oi9.execute-api.eu-west-2.amazonaws.com/prueba_calculadora",

                    {op: "video", id: idVideo},
                    function (data) {
                    function jsonEscape(str) {
                        return str
                        .replace(/\n/g, "\\\\n")
                        .replace(/\r/g, "\\\\r")
                        .replace(/\t/g, "\\\\t");
                    }

                    //descomentar esta línea si se usa PHP :
                    //var json=JSON.parse(data);
                    //descomentar esta línea si se usa lambda-apigateway : var json=data;
                    var json = data;
                    alert("page content: " + JSON.stringify(json));
                    //document.getElementById("res").innerHTML =
                        "Resultado recibido:" + json.res;
                    //window.location.replace(json.redirect);
                    }
                )
                    .done(function () {

                        var video = document.getElementById('videoPlay');
                        video.src = json.video.rutaAWS;

                        var tituloVideo = document.getElementById('tituloVideo');
                        tituloVideo.innerText = json.video.nombreVideo;

                        var fechaSubida = document.getElementById('fechaSubida');
                        fechaSubida.innerText = json.video.fechaSubida;

                        var fechaModificacion = document.getElementById('fechaModificacion');
                        fechaModificacion.innerText = json.video.ultimaModificacion;

                        var usuarioVideo = document.getElementById('usuarioVideo');
                        usuarioVideo.innerText = json.video.nombreUsuario;

                        var usuarioVideoLink = document.getElementById('usuarioVideoLink');

                        usuarioVideoLink.href = "/profile.html?idUsuario=" + json.video.usuarioId;

                        var descripcionVideo = document.getElementById('descripcionVideo');
                        descripcionVideo.innerText = json.video.descripcion;

                        var comentarios = document.getElementById('comentariosVideo');
                        var numeroComentarios = document.createElement('p');
                        numeroComentarios.innerText = json.video.cometarios.length + " comentarios";
                        comentarios.appendChild(numeroComentarios);

                        for(var i=0;i<json.video.cometarios.length;++i){
                            var cometario = document.createElement('div');
                            var tituloLink = document.createElement('a');
                            var titulo = document.createElement('p');
                            var tituloBold = document.createElement('b');
                            var contenido = document.createElement('p');
                            var saltoLinea = document.createElement('br');

                            tituloBold.innerText = json.video.cometarios[i].nombreUsuario;
                            contenido.innerText = json.video.cometarios[i].contenido;
                            tituloLink.classList.add('Link-large');
                            tituloLink.href="/profile.html?idUsuario=" + json.video.cometarios[i].idUsuario;

                            titulo.appendChild(tituloBold);
                            tituloLink.appendChild(titulo);
                            cometario.appendChild(tituloLink);
                            cometario.appendChild(contenido);
                            comentarios.appendChild(saltoLinea);
                            comentarios.appendChild(cometario);
                        }
                        
                    })
                    .fail(function () {
                        swal('','Error cargando video', 'error');
                    });

                asd.always(function () {
                    $('.navbar').load('fragments/navbar.html');
                });
            });
        </script>
    </body>        
</html>