<div class="modal" id="modalChangePassword">
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body hero is-primary">
        <h1 class="title is-primary has-text-centered mt-6">Cambio de contraseña</h1>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column">
                                <div class="box has-background-light">
                                    <div class="field">
                                        <label class="label" for="password">Nueva Contraseña</label>
                                        <div class="control">
                                            <input id="passwordChange"
                                                type="password"
                                                class="input"
                                                placeholder="Contraseña" required/>
                                            <span id="errorPasswordChange" style="color:red;"><!--Mensaje de error contraseña demasiado corta--></span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label" for="passwordConfirm">Repetir Contraseña</label>
                                        <div class="control">
                                            <input id="passwordConfirmChange"
                                                type="password"
                                                class="input"
                                                placeholder="Repetir contraseña"/>
                                            <span id="errorConfirmPasswordChange" style="color:red;"><!--Mensaje de error contraseñas no coinciden--></span>
                                        </div>
                                    </div>
                                    
                                </div>

                            <button class="button is-link" id="changePasswordButton">Cambiar Contraseña
                            </button>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="$('#modalChangePassword').removeClass('is-active')"></button>
  </div>
  <script>
    $(document).ready(function () {
        $("#changePasswordButton").click(function () {
            var contrasenya = document.getElementById("passwordChange").value;
            var passwordConfirm = document.getElementById("passwordConfirmChange").value;
        //   var numeros="0123456789";

        //     function tiene_numeros(texto){
        //     for(i=0; i<texto.length; i++){
        //         if (numeros.indexOf(texto.charAt(i),0)!=-1){
        //             return 1;
        //         }
        //     }
        //     return 0;
        //     }

        if(contrasenya!=passwordConfirm){
            document.getElementById('errorConfirmPasswordChange').innerText = "Las contraseñas no coinciden";
            document.getElementById('errorPasswordChange').innerText = "";
        }
        else if(contrasenya.length<8){
            document.getElementById('errorPasswordChange').innerText = "La contraseña debe tener al menos 8 carácteres";
            document.getElementById('errorConfirmPasswordChange').innerText = "";
        }
        else{
            usuarioId = document.getElementById('idUsuario').value;

            var vres = "";
            var asd = $.get(
                //"http://18.133.181.212/calculadora.php",
                "https://6ceb939oi9.execute-api.eu-west-2.amazonaws.com/prueba_calculadora",

                { op: "cambiarContrasenya", id: usuarioId, nuevaContrasenya: contrasenya},
                function (data) {
                function jsonEscape(str) {
                    return str
                    .replace(/\n/g, "\\\\n")
                    .replace(/\r/g, "\\\\r")
                    .replace(/\t/g, "\\\\t");
                }

                //descomentar esta línea si se usa PHP :
                //var json=JSON.parse(data);
                //descomentar esta línea si se usa lambda-apigateway : var json=data;
                var json = data;
                alert("page content: " + JSON.stringify(json));
                document.getElementById("res").innerHTML =
                    "Resultado recibido:" + json.res;
                //window.location.replace(json.redirect);
                }
            )
            .done(function () {
                
                //loguear al usuario (descargar cookies)
                 swal('','Contraseña cambiada correctamente', 'success');
                 $("#modalChangePassword").removeClass("is-active");
            })
            .fail(function () {
                swal('','No ha sido posible cambiar la contraseña', 'error');
            });

            asd.always(function () {
                //alert("second finished");
            });
        } 
        });
    });
  </script>