<div class="modal" id="modalForgotPassword">
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body hero is-primary">
        <h1 class="title is-primary has-text-centered mt-6">Recuperación de contraseña</h1>
        <h1 class="title is-primary has-text-centered mt-6">Cambio de contraseña</h1>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column">
                        <form method="POST" action="#" class="form">
                                <div class="box has-background-light">
                                    <div class="field">
                                        <label class="label" for="password">Nueva Contraseña</label>
                                        <div class="control">
                                            <input id="password"
                                                type="password"
                                                class="input"
                                                placeholder="Contraseña" required/>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label" for="passwordConfirm">Repetir Contraseña</label>
                                        <div class="control">
                                            <input id="passwordConfirm"
                                                type="password"
                                                class="input"
                                                placeholder="Repetir contraseña"/>
                                            <span><!--Mensaje de error contraseñas no coinciden--></span>
                                        </div>
                                    </div>
                                    
                                    <div class="field">
                                        <label class="label" for="passwordConfirm">Frase de Recuperación</label>
                                        <div class="control">
                                            <input id="recuperatuonPhrase"
                                                type="text"
                                                class="input"
                                                placeholder="Frase de Recuperación de Contraseña"/>
                                        </div>
                                    </div>
                                </div>

                            <button class="button is-link" type="submit">Cambiar Contraseña
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="$('#modalForgotPassword').removeClass('is-active')"></button>
  </div>