<div class="modal" id="modalForgotPassword">
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body hero is-primary">
        <h1 class="title is-primary has-text-centered mt-6">Recuperación de contraseña</h1>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column">
                                <div class="box has-background-light">

                                    <div class="field">
                                        <label class="label" for="usernameForgot">Nombre de Usuario</label>
                                        <div class="control">
                                            <input id="usernameForgot"
                                                type="text"
                                                class="input"
                                                placeholder="Nombre de Usuario"/>
                                            <span id="errorUsernameForgot" style="color:red;"><!--Mensaje de error usuario no existe--></span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label" for="password">Nueva Contraseña</label>
                                        <div class="control">
                                            <input id="passwordForgot"
                                                type="password"
                                                class="input"
                                                placeholder="Contraseña" required/>
                                            <span id="errorPasswordForgot" style="color:red;"><!--Mensaje de error contraseña demasiado corta--></span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label" for="passwordConfirm">Repetir Contraseña</label>
                                        <div class="control">
                                            <input id="passwordConfirmForgot"
                                                type="password"
                                                class="input"
                                                placeholder="Repetir contraseña"/>
                                            <span id="errorPasswordConfirmForgot" style="color:red;"><!--Mensaje de error contraseñas no coinciden--></span>
                                        </div>
                                    </div>
                                    
                                    <div class="field">
                                        <label class="label" for="passwordConfirm">Frase de Recuperación</label>
                                        <div class="control">
                                            <input id="recuperationPhrase"
                                                type="text"
                                                class="input"
                                                placeholder="Frase de Recuperación de Contraseña"/>
                                            <span id="errorPhraseForgot" style="color:red;"><!--Mensaje de error frase de recuperación incorrecta--></span>
                                        </div>
                                    </div>
                                </div>

                            <button class="button is-link" id="forgotPasswordButton">Cambiar Contraseña
                            </button>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="$('#modalForgotPassword').removeClass('is-active')"></button>
  </div>
  <script>
    $(document).ready(function () {
        $("#forgotPasswordButton").click(function () {
            var contrasenya = document.getElementById("passwordForgot").value;
            var passwordConfirm = document.getElementById("passwordConfirmForgot").value;
            var fraseContraseña = document.getElementById("recuperationPhrase").value;
            var user = document.getElementById("usernameForgot").value;
        //   var numeros="0123456789";

        //     function tiene_numeros(texto){
        //     for(i=0; i<texto.length; i++){
        //         if (numeros.indexOf(texto.charAt(i),0)!=-1){
        //             return 1;
        //         }
        //     }
        //     return 0;
        //     }

        if(contrasenya!=passwordConfirm){
            document.getElementById('errorPasswordConfirmForgot').innerText = "Las contraseñas no coinciden";
            document.getElementById('errorPasswordForgot').innerText = "";
            document.getElementById('errorUsernameForgot').innerText = "";
            document.getElementById('errorPhraseForgot').innerText = "";
        }
        else if(contrasenya.length<8){
            document.getElementById('errorPasswordForgot').innerText = "La contraseña debe tener al menos 8 carácteres";
            document.getElementById('errorPasswordConfirmForgot').innerText = "";
            document.getElementById('errorUsernameForgot').innerText = "";
            document.getElementById('errorPhraseForgot').innerText = "";
        }
        else{
            var vres = "";
            var json;
            var asd = $.get(
                //"http://18.133.181.212/calculadora.php",
                "https://www.macascript.com/index.php",

                { op: "recuperarContrasenya", usuario: user, nuevaContrasenya: contrasenya, fraseRecuperacion: fraseContraseña},
                function (data) {
                function jsonEscape(str) {
                    return str
                    .replace(/\n/g, "\\\\n")
                    .replace(/\r/g, "\\\\r")
                    .replace(/\t/g, "\\\\t");
                }

                //descomentar esta línea si se usa PHP :
                json=JSON.parse(data);
                //descomentar esta línea si se usa lambda-apigateway : var json=data;
                //json = data;
                alert("page content: " + JSON.stringify(json));
                //document.getElementById("res").innerHTML =
                //    "Resultado recibido:" + json.res;
                }
            )
            .done(function (json) {
                if(json.nombreUsuario==false){
                    document.getElementById('errorUsernameForgot').innerText = "El nombre de usuario o correo no existe";
                    document.getElementById('errorPasswordConfirmForgot').innerText = "";
                    document.getElementById('errorPasswordForgot').innerText = "";
                    document.getElementById('errorPhraseForgot').innerText = "";
                }
                else if(json.fraseRecuperacion==false){
                    document.getElementById('errorPhraseForgot').innerText = "Frase de recuperación incorrecta";
                    document.getElementById('errorUsernameForgot').innerText = "";
                    document.getElementById('errorPasswordConfirmForgot').innerText = "";
                    document.getElementById('errorPasswordForgot').innerText = "";
                }
                else{
                    //loguear al usuario (descargar cookies)
                    $("#modalForgotPassword").removeClass("is-active");
                    swal('','Contraseña cambiada correctamente', 'success');
                    window.location.replace(json.redirect);
                }
            })
            .fail(function () {
                swal('','No ha sido posible cambiar la contraseña', 'error');
            });

            asd.always(function () {
                //alert("second finished");
            });
        } 
        });
    });
  </script>