<div class="modal" id="modalLogin">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body hero is-primary">
      <h1 class="title is-primary has-text-centered mt-6">Login</h1>
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column">
                <div class="field">
                  <label for="usernameLogin" class="label">Nombre de usuario</label>
                  <div class="control has-icons-left">
                    <input
                      id="usernameLogin"
                      name="usernameLogin"
                      type="text"
                      class="input"
                      placeholder="Username"
                      autofocus="true"
                      required
                    />
                    <span class="icon is-small is-left"
                      ><i class="fa fa-user"></i
                    ></span>
                  </div>
                </div>
                <div class="field">
                  <label for="passwordLogin" class="label">Contraseña</label>
                  <div class="control has-icons-left">
                    <input
                      id="passwordLogin"
                      name="passwordLogin"
                      type="password"
                      class="input"
                      placeholder="*********"
                      required
                    />
                    <span class="icon is-small is-left"
                      ><i class="fa fa-lock"></i
                    ></span>
                    <span id="errorLogin" style="color:red;"><!--Mensaje de error contraseña o usuario incorrectos--></span>
                  </div>
                </div>
                <div class="field">
                  <button class="button is-success" id="loginButton">
                    Ingresar
                  </button>
                </div>
                <div class="field">
                  <a
                    onclick="$('#modalForgotPassword').addClass('is-active');$('#modalLogin').removeClass('is-active')"
                    >Olvidé la contraseña</a
                  >
                </div>
                <div class="field">
                  <a
                    onclick="$('#modalRegister').addClass('is-active');$('#modalLogin').removeClass('is-active')"
                  >
                    Registrarse
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    onclick="$('#modalLogin').removeClass('is-active')"
  ></button>
</div>
<script>
  $(document).ready(function () {
    document.getElementById('errorLogin').innerText="";
    $("#loginButton").click(function () {
      var usuario = document.getElementById("usernameLogin").value;
      var contrasenya = document.getElementById("passwordLogin").value;

      var vres = "";
      var json;
      var asd = $.get(
        //"http://18.133.181.212/calculadora.php",
        "https://52.23.154.30",

        { op: "login", usuario: usuario, contrasenya: contrasenya},
        function (data) {
          function jsonEscape(str) {
            return str
              .replace(/\n/g, "\\\\n")
              .replace(/\r/g, "\\\\r")
              .replace(/\t/g, "\\\\t");
          }

          //descomentar esta línea si se usa PHP :
          json=JSON.parse(data);
          //descomentar esta línea si se usa lambda-apigateway : var json=data;
          //json = data;
          alert("page content: " + JSON.stringify(json));
          //document.getElementById("res").innerHTML =
           // "Resultado recibido:" + json.res;
          //window.location.replace(json.redirect);
        }
      )
        .done(function (json) {
          if(JSON.stringify(json)==""){
            document.getElementById('errorLogin').innerText="Usuario o Contraseña no válidos";
          }
          else{
            //loguear al usuario (descargar cookies)
            $('#modalLogin').removeClass('is-active');
            window.location.replace("profile.html?idUsuario=" + json.id + "loggedUserId=" + json.id + "&loggedUsername=" + json.nombreUsuario);
          }
        })
        .fail(function () {
          swal('','Error logueando al usuario', 'error');
        });

      asd.always(function () {
        //alert("second finished");
      });
    });
  });
</script>
