<div class="modal" id="modalRegister">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body hero is-primary">
      <h1 class="title is-primary has-text-centered mt-6">
        Registro Nuevo usuario
      </h1>
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column">
                <div>
                  <div class="field">
                    <h3 class="subtitle">Configuración de acceso</h3>
                  </div>
                  <div class="box has-background-light">
                    <div class="field">
                      <label class="label" for="usernameRegister"
                        >Nombre de usuario</label
                      >
                      <div class="control">
                        <input
                          id="usernameRegister"
                          type="text"
                          class="input"
                          placeholder="Nombre de usuario"
                          required
                        />
                        <span
                            id="errorUsernameRegister" style="color:red;"
                        ><!--Mensaje de error nombre de usuario ya existe--></span>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label" for="passwordRegister"
                        >Contraseña</label
                      >
                      <div class="control">
                        <input
                          id="passwordRegister"
                          type="password"
                          class="input"
                          placeholder="Contraseña"
                          required
                        />
                        <span
                            id="errorPasswordRegister" style="color:red;"
                        ><!--Mensaje de error contraseñas muy corta--></span>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label" for="passwordConfirmRegister"
                        >Repetir Contraseña</label
                      >
                      <div class="control">
                        <input
                          id="passwordConfirmRegister"
                          type="password"
                          class="input"
                          placeholder="Repetir contraseña"
                        />
                        <span
                            id="errorPasswordConfirmRegister" style="color:red;"
                        ><!--Mensaje de error contraseñas no coinciden--></span
                        >
                      </div>
                    </div>

                    <div class="field">
                      <label class="label" for="recuperationPhraseRegister"
                        >Frase de Recuperación</label
                      >
                      <div class="control">
                        <input
                          id="recuperationPhraseRegister"
                          type="text"
                          class="input"
                          placeholder="Frase de Recuperación de Contraseña"
                        />
                      </div>
                    </div>

                    <div class="field">
                      <div class="label" for="emailRegister">
                        Dirección de e-mail
                      </div>
                      <div class="control">
                        <input
                          type="email"
                          id="emailRegister"
                          class="input"
                          placeholder="tu@email.com"
                        />
                        <span
                              id="errorEmailRegister" style="color:red;"
                          ><!--Mensaje de email ocupado--></span
                          >
                      </div>
                    </div>

                  </div>
                </div>
                <div class="field">
                  <h3 class="subtitle">Datos personales</h3>
                </div>
                <div class="box">
                  <div class="field">
                    <div class="label" for="nameRegister">Nombre Completo</div>
                    <div class="control">
                      <input
                        type="text"
                        id="nameRegister"
                        class="input"
                        placeholder="Juan Perez"
                      />
                    </div>
                  </div>

                </div>

                <button class="button is-link" id="buttonRegister">
                  Registrarse
                </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    onclick="$('#modalRegister').removeClass('is-active')"
  ></button>
</div>
<script>
  $(document).ready(function () {
    $("#buttonRegister").click(function () {
      var nombreUsuario = document.getElementById("usernameRegister").value;
      var contrasenya = document.getElementById("passwordRegister").value;
      var passwordConfirm = document.getElementById("passwordConfirmRegister").value;
      var nombreCompleto = document.getElementById("nameRegister").value;
      var email = document.getElementById("emailRegister").value;
      var fraseRecuperacion = document.getElementById("recuperationPhraseRegister").value;

    //   var numeros="0123456789";

    //     function tiene_numeros(texto){
    //     for(i=0; i<texto.length; i++){
    //         if (numeros.indexOf(texto.charAt(i),0)!=-1){
    //             return 1;
    //         }
    //     }
    //     return 0;
    //     }

      if(contrasenya!=passwordConfirm){
        document.getElementById('errorPasswordConfirmRegister').innerText = "Las contraseñas no coinciden";
        document.getElementById('errorPasswordRegister').innerText = "";
        document.getElementById('errorEmailRegister').innerText="";
        document.getElementById('errorUsernameRegister').innerText="";
      }
      else if(contrasenya.length<8){
        document.getElementById('errorPasswordRegister').innerText = "La contraseña debe tener al menos 8 carácteres";
        document.getElementById('errorPasswordConfirmRegister').innerText = "";
        document.getElementById('errorEmailRegister').innerText="";
        document.getElementById('errorUsernameRegister').innerText="";
      }
      else{
        var vres = "";
        var json;
        var asd = $.get(
            //"http://18.133.181.212/calculadora.php",
            "https://54.174.204.143",

            { op: "registarse", nombreUsuario: nombreUsuario, email: email, nombreCompleto: nombreCompleto, contrasenya: contrasenya, fraseRecuperacion: fraseRecuperacion },
            function (data) {
            function jsonEscape(str) {
                return str
                .replace(/\n/g, "\\\\n")
                .replace(/\r/g, "\\\\r")
                .replace(/\t/g, "\\\\t");
            }

            //descomentar esta línea si se usa PHP :
            json=JSON.parse(data);
            //descomentar esta línea si se usa lambda-apigateway : var json=data;
            //json = data;
            alert("page content: " + JSON.stringify(json));
            //document.getElementById("res").innerHTML =
             //   "Resultado recibido:" + json.res;
            //window.location.replace(json.redirect);
            }
        )
        .done(function () {
            if(json.nombreUsuario==false){
                document.getElementById('errorUsernameRegister').innerText="Nombre de usuario ya existe";
                document.getElementById('errorPasswordConfirmRegister').innerText = "";
                document.getElementById('errorPasswordRegister').innerText = "";
                document.getElementById('errorEmailRegister').innerText="";
            }
            else if(json.email==false){
                document.getElementById('errorEmailRegister').innerText="Email ya está registrado";
                document.getElementById('errorUsernameRegister').innerText="";
                document.getElementById('errorPasswordConfirmRegister').innerText = "";
                document.getElementById('errorPasswordRegister').innerText = "";
            }
            else{
                //loguear al usuario (descargar cookies)
                $("#modalRegister").removeClass("is-active");
                window.location.replace("profile.html?idUsuario=" + json.id + "loggedUserId=" + json.id + "&loggedUsername=" + nombreUsuario);
            }
        })
        .fail(function () {
          swal('','No ha sido posible registrar al usuario', 'error');
        });

        asd.always(function () {
            //alert("second finished");
        });
      } 
    });
  });
</script>
