<div class="modal" id="modalUploadVideo">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body hero is-primary">
      <h1 class="title is-primary has-text-centered mt-6">Subir Video</h1>
      <div class="hero-body">
          <div class="container">
              <div class="columns is-centered">
                  <div class="column">
                      <form method="POST" action="#" class="form">
                              <div class="box has-background-light">
                                  <div class="field">
                                      <label class="label" for="videoArchive">Video</label>
                                      <div class="control">
                                          <input id="videoArchive"
                                              type="file"
                                              class="input"
                                              placeholder="Sube aqui tu archivo de video" required/>
                                              <span><!--Mensaje de error tipo de archivo no válido--></span>
                                      </div>
                                  </div>

                                  <div class="field">
                                      <label class="label" for="videoArchive">Nombre Video</label>
                                      <div class="control">
                                          <input id="videoArchive"
                                              type="text"
                                              class="input"
                                              placeholder="Nombre Video"/>
                                      </div>
                                  </div>
                                  
                                  <div class="field">
                                      <label class="label" for="tag">Tags</label>
                                      <div class="control">
                                          <input id="tag"
                                              type="text"
                                              class="input"
                                              placeholder="Introduce tag"/>
                                      </div>
                                  </div>
                              </div>

                          <button class="button is-link" type="submit">Subir Video
                          </button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </div>
  <button class="modal-close is-large" aria-label="close" onclick="$('#modalForgotPassword').removeClass('is-active')"></button>
</div>